@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@500&display=swap');

/* //font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */

body {
    margin: 0 auto;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 5px 0;
    margin-top:8px;
    
}

nav div {
    width: 180px;
    justify-content: center;
    margin: 0 auto;
}

nav div img {
    width: 100%;
}

nav div button {
    margin: 0 10px 24px 0;
    font-size:12px;
    
}

.btn-group {
    display:none;
}

.btn1-container {
    display: flex;
    justify-content: flex-end;
}

.btn1 {
    background-color: #4BA87D;
    color: white;
    font-family:'Raleway', sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing: 0.80px;
    padding: 7px 7px;
    border:3px solid #4BA87D;

}

.btn-grande {
    padding: 13px 30px !important;
}

.btn2 {
    background-color: transparent;
    color: #4BA87D;
    font-family:'Raleway', sans-serif;
    text-transform:uppercase;
    border:3px solid #4BA87D;
    font-weight:bold;
    letter-spacing: 0.80px;
    padding: 10px 15px;
}

section {
    margin-top: 20px;
}
#sec-1 img, .reach-customers img {
    width:100%;
    height:170px;
    margin: 25px 0px 0px 0px;
    object-fit: cover;
    

}

#sec-1 {
    margin: 40px auto;
}
#sec-1 h1 {
    top: 8%;
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
    color:#000000;
    font-size:36px;
    line-height: 46px;
    padding: 0 70px 0 0;
    text-transform:capitalize;
}

section p {
    font-family: 'Raleway', sans-serif;
    font-size:medium;
    line-height:16px;
    text-align:left;
    margin-left:4px;
    margin-bottom:20px;
}

section p::first-letter {
    text-transform:uppercase;
}
section .btn-container {
    display: flex;
    justify-content: space-between;
    margin:8px;
}

/* Buscar tamaño de h1 en Figma. darle text uppercase y achicar el tamaño del width y padding para que queden en los tamaños del figma.
contenedor de bottones display flex y justify content  space between. AL div de h1 darle position absolute queda. Terminar pantallita que estoy haciendo y hacer la de reach more customers*/

.reach-customers {
    position:relative;
}
/* .reach-customers div {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    object-fit:contain;
} */

.reach-customers h1 {
    color:white;
    font-size:30px;
    text-transform: capitalize;
    text-align:center;
}

.learnhow {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
}
.learnhow button {
    font-size:10px;
    line-height: 1px;
    background-color: white;
    border:1px solid white;
    margin: 0 auto;
    display:flex;
    padding: 12px 10px;;
}

/* No me salio que me quede en el medio learn how */

.section-engaging {
    display:flex;
    flex-direction:column;
    background-image:url(./Assets/imagenes/Slanted\ Green\ BG.png);
    position:relative;
}


.card {
    width:210px;
    overflow:hidden;
}

.card img {
    width: 100%;
    margin:0;

}

.card p {
    margin:0 ;
}

.card-body {
    background-color: white;
    margin-top: -4px;
    padding: 20px;
}

#learn-more-1 {
    display:flex;
    justify-content:start;
    margin-bottom: 30px;
}

#learn-more-2 {
    display:flex;
    justify-content:end;
}

.learn-more-button {
    background-color: transparent;
    border: none;
    color: #4BA87D;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    margin: 20px 0;
}

.learn-more-text-container {
    width: 100%;
    margin-left:8%;
    justify-content: left;
    text-align: left;
    display:flex;
}


.learn-more-text {
    width:230px;
    margin-left:10px;
}


.learn-more-text h1 {
    padding-left:2px;
    text-align: left;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
}

.learn-more-text p {
    line-height:1.2;
}



/* Clase 6-2. Seguir con prox seccion, un div global, de seccion y adentro cada sdiv tiene una imagen,  */

.global-members-email {
    margin-top:10%;
}

.members {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:10%;
    
}
.members img {
    max-width:80%;
}

.members .user{
    position:relative;
    margin-bottom: 14px;
}

.global-members-email .members .user .description {
    position:absolute;
    color:white;  
    top:60%;
    left:10%;
}
.global-members-email .members .user .description h2 {
    font-family: 'Raleway', sans-serif;
    font-size:22px;
    font-weight:bold;
    line-height:6px;
    letter-spacing: 2px;
}

.global-members-email .members .user .description p {
    text-align: left;
    margin:0;
}

.join-list {
    text-align: center;
    width:100%;
    margin: 0 auto;
}
.join-list h1 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight:bold;
    padding: 15px 35px 8px 33px;
    letter-spacing: 2px;
    margin-bottom:10px;
}


.join-list p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    color:#4BA87D;
}

.join-list input {
    width:223px;
    padding: 8px 0;
    border-radius:8px;
    border: 1px solid gray;
    
}

.publicidad-empresas {
    margin:0 auto;
}
.publicidad-empresas .container-titulo h1 {
    text-align:center;
    font-size:36px;
}

.container-empresas {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-left:20%;
}

.container-empresas .img-cont {
    flex-basis: calc(50% -5px);
    width:50%;
    height: 50%;
    justify-self: flex-end;
    margin-bottom:10%;
}
.container-empresas .img-cont img {
    width:60%;
}

.greenSection {
    background-color: #4BA87D;
    height:100vw;
}

.greenSection h1 {
    color:white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size:56px;
    font-weight: black;
    padding-top:20%;
}

.greenSection button {
    background-color: white;
    position: absolute;
    left:27%;
    border:none;
    font-weight:bold;
    padding: 14px 27px;
    font-size: 17px;
}

footer .logo-end {
    margin-top:53px;
}
footer .logo-end img {
    width:41%;
}

.container-info {
    display:flex;
    width:100%;
    gap: 70px;
}
.container-info li {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    list-style: none;
    font-weight:bold;
    line-height: 20px;
}

.container-info ul {
    padding-left: 19px;
}
.final {
    display:flex;
    flex-wrap:wrap;
    margin-left: 19px;
    border-top: 1px solid lightgray;
}
.final p {
    font-family: 'Raleway', sans-serif;
    font-size:9px;
    font-weight:bold;
    width:100%;
    
}